
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:replace="~{common::header}"></th:block>
    <script src="https://gw.alipayobjects.com/os/antv/assets/g2/3.0.9/g2.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>

    <style>
        div{
            padding: 5px;
        }
        body{
            padding: 10px;
            background: #f3f3f3;
        }
       .total-content{
           background-color: #f3f3f3;
           padding: 10px 15px;
       }
        .total-content h3{
            padding-bottom: 12px;
        }
        .total-content cite{
            color: #008688;
            font-size: 30px;
            font-weight: 300;
        }
    </style>

</head>
<body style="overflow-x: hidden">

<div class="layui-col-sm8">
    <div class="layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-header">维修设备占比</div>
            <div class="layui-card-body">
                <div id="chart3" >

                </div>
            </div>
        </div>
    </div>


</div>
<div class="layui-col-sm4">
    <div class="layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-header">服务统计</div>
            <div class="layui-card-body">
               <ul class="layui-row layui-col-space10">
                   <li class="layui-col-sm6 " >
                       <div class="total-content">
                           <h3>已服务时间：</h3>
                           <cite><th:block th:text="${day}"></th:block>天</cite>
                       </div>

                   </li>
                   <li class="layui-col-sm6 " >
                       <div class="total-content">
                           <h3>未处理：</h3>
                           <cite style="color: #f34145" th:text="${applyCount.state0}"></cite>
                       </div>

                   </li>
                   <li class="layui-col-sm6 ">
                       <div class="total-content">
                           <h3>正在处理：</h3>
                           <cite style="color: #2f9cf7" th:text="${applyCount.state1}"></cite>
                       </div>
                   </li>
                   <li>
                       <div class="total-content">
                           <h3>已完成：</h3>
                           <cite style="color: #31952b" th:text="${applyCount.state2}"></cite>
                       </div>
                   </li>
               </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-sm12">

        <div class="layui-card">
            <div class="layui-card-header">勤奋榜<i class="layui-icon" style="font-size: 30px; color: #ff5f6a;"> &#xe756;</i> </div>
            <div class="layui-card-body">
                <div id="chart1"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-sm12">

        <div class="layui-card">
            <div class="layui-card-header">好评榜<i class="layui-icon" style="font-size: 30px; color: #2da5ff;"> &#xe756;</i></div>
            <div class="layui-card-body">
                <div id="chart2"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/home.js}" src="/js/home.js"></script>
<script>
    const data = [
        { country: 'liufm1', population: 14 },
        { country: 'liufm2', population: 13 },
        { country: 'liufm3', population: 12 },
        { country: 'liufm4', population: 11 },
        { country: 'liufm5', population: 9 }
    ];
    const data2 = [
        { country: 'liufm3', population: 10 },
        { country: 'liufm5', population: 9 },
        { country: 'liufm2', population: 8 },
        { country: 'liufm4', population: 7.6 },
        { country: 'liufm1', population: 6.6 }
    ];




</script>

</html>
