<!DOCTYPE html>
<!--<%@include file="common.jspf" %>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="~{common::header}"></th:block>
    <link th:href="@{/css/login2.css}" href="/css/login2.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/md5.js}" src="${ctx}/js/md5.js"></script>
    <script type="text/javascript" th:src="@{/js/login/register.js}" src="${ctx}/js/login/register.js"></script>
</head>
<body class="login">
<div class="login_m">
    <div class="login_logo"><img th:src="@{/img/logo2.png}" src="/img/logo2.png" ></div>
    <div class="login_boder layui-anim layui-anim-scaleSpring" style="padding-left: 15px;height: 300px">
        <div class="layui-row" style="padding-left: 15px">
            <div class="layui-col-xs1"><a th:href="@{/login}" href="${ctx}/login"><i class="layui-icon"
                                                                 style="font-size: 25px; color: #1E9FFF;">&#xe65c;</i></a>
            </div>
            <div class="login_title layui-col-xs10">
                <h2>注册</h2>
            </div>
        </div>
        <form class="layui-form" th:action="@{/user/register}" action="${ctx}/user/register" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username"  lay-verify="username" placeholder="请输入用户名"
                           autocomplete="off" class="my_input layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password"   lay-verify="password" placeholder="请输入密码"
                           autocomplete="off" class="my_input layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password2" lay-verify="password2"
                           placeholder="请确认密码" autocomplete="off" class="my_input layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="0" title="报修用户" checked>
                    <input type="radio" name="type" value="1" title="维修员">
                </div>
            </div>
            <hr>
            <div class="layui-form-item">
                <!--<label class="layui-form-label"></label>-->
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-radius bt_login layui-col-xs8" lay-filter="register"  lay-submit>注册</button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
