<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lfm.ers.mapper.ApplyMapper" >
  <resultMap id="BaseResultMap" type="com.lfm.ers.entity.Apply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId"  jdbcType="INTEGER" />
    <result column="faut_id" property="fautId" jdbcType="INTEGER" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="fault_descrip" property="faultDescrip" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="expect_time" property="expectTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>

  <!--//ap.id,ap.state,ap.create_time,ap.fault_descrip,ap.expect_time, ap.detail_address,-->
  <!--//    su.full_name,su.phone,fi.`name` info_name,et.`name` equip_name ,de.`name` depart_name-->
  <resultMap id="ApplyVo" type="com.lfm.ers.vo.ApplyVo">
    <result column="id" property="id"/>
    <result column="state" property="state"/>
    <result column="create_time" property="createTime"/>
    <result column="fault_descrip" property="faultDescrip"/>
    <result column="expect_time" property="expectTime"/>
    <result column="detail_address" property="detailAddress"/>
    <result column="full_name" property="fullName"/>
    <result column="phone" property="phone"/>
    <result column="info_name" property="infoName"/>
    <result column="equip_name" property="equipName"/>
    <result column="depart_name" property="departName"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, faut_id, detail_address, fault_descrip, create_time, expect_time,
    state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lfm.ers.entity.Apply" >
    insert into apply (id, user_id, faut_id, 
      detail_address, fault_descrip, create_time, 
      expect_time, state)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fautId,jdbcType=INTEGER}, 
      #{detailAddress,jdbcType=VARCHAR}, #{faultDescrip,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expectTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lfm.ers.entity.Apply" >
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="fautId != null" >
        faut_id,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="faultDescrip != null" >
        fault_descrip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expectTime != null" >
        expect_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fautId != null" >
        #{fautId,jdbcType=INTEGER},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="faultDescrip != null" >
        #{faultDescrip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectTime != null" >
        #{expectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lfm.ers.entity.Apply" >
    update apply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fautId != null" >
        faut_id = #{fautId,jdbcType=INTEGER},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="faultDescrip != null" >
        fault_descrip = #{faultDescrip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectTime != null" >
        expect_time = #{expectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lfm.ers.entity.Apply" >
    update apply
    set user_id = #{userId,jdbcType=INTEGER},
      faut_id = #{fautId,jdbcType=INTEGER},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      fault_descrip = #{faultDescrip,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expect_time = #{expectTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByAIDAndUID" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from apply where id = #{id} and user_id = #{userId}

  </select>


  <select id="selectDetailByUID" resultMap="ApplyVo">
    select ap.id,ap.state,ap.create_time,ap.fault_descrip ,ap.expect_time, ap.detail_address,
      su.full_name,su.phone,fi.`name` info_name,et.`name` equip_name,de.`name` depart_name
    from apply ap
    join sys_user su on ap.user_id = su.id
    left join depart de on su.depart_id = de.id
    join fault_info fi on fi.id = ap.faut_id
    join equip_type et on et.id = fi.equip_id
    <if test="userId != null">
      where ap.user_id = #{userId}
    </if>
    order by case when ap.state = 2 then 3 end,ap.id desc
  </select>

  <select id="selectDetailByAID" resultMap="ApplyVo">
    select ap.id,ap.state,ap.create_time,ap.fault_descrip ,ap.expect_time, ap.detail_address,
    su.full_name,su.phone,fi.`name` info_name,et.`name` equip_name,de.`name` depart_name
    from apply ap
    join sys_user su on ap.user_id = su.id
    left join depart de on su.depart_id = de.id
    join fault_info fi on fi.id = ap.faut_id
    join equip_type et on et.id = fi.equip_id
    where ap.id = #{id}
    <if test="type == 3">
      and ap.user_id = #{userId}
    </if>
  </select>

  <select id="totalFinishCountByRID">
    select COUNT( * ) count,su.full_name
    from `repair` re
	join sys_user su on re.repairman_id = su.id
	join apply ap on re.apply_id = ap.id
	where ap.state  = 3 and re.repair_time > #{offset}
	group by re.repairman_id
	order by count desc
	limit 0,5;

  </select>

  <select id="countByState" resultType="com.lfm.ers.vo.Value">
    select (case ap.state when 0 then 'state0' when 1 then 'state1' when 3 then 'state2' end) `name`,count(*) `value`
    from apply ap
    where ap.state != 2
    group by ap.state;
  </select>

  <select id="countDepartApply" resultType="com.lfm.ers.vo.Value">
    select count(*) `value`,de.`name`
    from apply ap
    join sys_user su on ap.user_id = su.id
    join depart de on de.id = su.depart_id
    where de.statistic = 1 and ap.state != 2
    group by de.id
  </select>

  <select id="countEquipTypeApply" resultType="com.lfm.ers.vo.Value">
    select count(*) `value` ,et.`name`
    from apply ap
    join fault_info fi on ap.faut_id = fi.id
    join equip_type et on fi.equip_id = et.id
    where ap.state != 2
    group by et.id
  </select>
</mapper>